
@media (min-width: 27.5em) {

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        padding: 1rem;
        font-size: 25px;
	}

	.navigation a {
		display: flex;
        flex-direction: row;
	}

    .navigation.open {
        padding: 20px;
        
    }

	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		padding: 20px;
		/* padding: 100px; */
	}

	#events {
		grid-column: 1/2;
		padding: 10px;
	}

	#weather {
		grid-column: 2/3;
	} 

	#weather p {
		padding: 10px;
	} 

	#spotlights {
		grid-column: 3/4;
	}

	.side-container2 {
		display: grid;
		grid-template-columns: 300px 1fr;
		transition: 1s ease;
		gap: 20px;
		height: 150vh;
        transition: 1s ease;
	}
}

