@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Raleway:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

/* * {
    box-sizing: border-box;
} */

body {
    align-items: center;
    font-size: 18px;
    font-family: Raleway, helvetica, sans-serif;
    text-align: center;
}

header {
    font-family: "Send Flowers";
    background: lightpink;
    height: 410px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: large;
}

.profile-pic {
    border-radius: 100%;
    border: solid 6px blanchedalmond;
    border-style: dashed;
    max-width: 150px;
}

nav {
    max-width: auto;
    margin-top: 1rem auto;
}

/* Hamburger List */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
    /* sets up position to the right */
	position: absolute;
	top: 25.35rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
	content: "🎨";
    /* color hex is #FFB6C1 */
} 

/* Navigation Styling */
.nav a:link, .nav a:visited {
    font-family: var(--heading-font);
    color: white;
}

.list a:link, .list a:visited {
    color: black;
}

.nav a:hover {
    color: lightpink;
}

.nav a:hover::before {
    content: "🐛";
    text-align: left;
    
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    /* changed height to auto for hamburger menu */
    height: auto;
    background: #242424;
    margin-top: -30px;
    padding: 1rem;
    border-style: groove;
    border-color:blanchedalmond;
}

.navigation a {
    display: none;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;

}

.hero {
    position: relative;
    margin-top: -30px;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}

.temple-label {
    position: absolute;
    top: 17%;
    left: 26%;
    transform: translateX(-50%);
    background: rgb(255, 182, 193);
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    white-space: nowrap;
    border-radius: 5px;
  }


main {
    height: 1500px;
    width: 90% 90%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
    font-family: "Send Flowers";
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    /* border-style: groove;
    border: 20px blanchedalmond; */
    justify-content: center;

}

.card {
    font-family: "Raleway";
    text-align: left;
    background-color: lightpink;
    padding: 1rem;
    border-radius: 25px;
}

h2 {
    /* no longer in grid */
    font-family: "Send Flowers";
    font-size: 30px;
	text-align: center;
    display: block;
    height: 30px;
    padding: 3rem;

}

h3 {
    font-family: "Send Flowers";
    font-size: larger;
    text-align: center;
}

 .activities {
    grid-row: 2/3;
    }

.info {
    grid-row: 3/4;
    }

ul {
    list-style-type: none;
}

#map iframe {
    width: 100%;
    height: auto;
    border: 6px solid #242424;
}

footer {
    background: lightpink;
    height: auto;
    padding: 1rem;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        height: 30px;
	}

	.navigation a {
		display: flex;
        flex-direction: column;
	}

    .nav a:hover::before {
        content: ""; 
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 1000px;
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 70px;
    }

    h2 {
        padding: 1rem;
    }

    .activities {
        grid-column: 1/2;
        }
    
    .info {
        grid-column: 2/3;
        }

    .temple-label {
        font-size: 1.6rem;
        }


}


