@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Raleway:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

/* * {
    box-sizing: border-box;
} */

body {
    align-items: center;
    font-size: 18px;
    font-family: Raleway, helvetica, sans-serif;
    text-align: center;
}

header {
    font-family: "Send Flowers";
    background: lightpink;
    height: 410px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: large;
}

.profile-pic {
    border-radius: 100%;
    border: solid 6px blanchedalmond;
    border-style: dashed;
    max-width: 150px;
}

nav {
    max-width: auto;
    margin-top: 1rem auto;
}

/* Hamburger List */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
    /* sets up position to the right */
	position: absolute;
	top: 25.35rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
	content: "🎨";
    /* color hex is #FFB6C1 */
} 

/* Navigation Styling */
.nav a:link, .nav a:visited {
    font-family: var(--heading-font);
    color: white;
}

.list a:link, .list a:visited {
    color: black;
}

.nav a:hover {
    color: lightpink;
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    /* changed height to auto for hamburger menu */
    height: auto;
    background: #242424;
    margin-top: -30px;
    padding: 1rem;
    border-style: groove;
    border-color:blanchedalmond;
}

.navigation a {
    display: none;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;

}

main {
    height: 400px;
    width: 90% 90%;
    padding: 4rem;
    padding-top: 0%;
    font-family: "Send Flowers";
    /* added today */
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: groove;
    border: blanchedalmond;
    justify-content: center;
}

.card {
    font-family: "Raleway";
    text-align: left;
}

h2 {
	text-align: center;
    grid-column: 1/3;

}

h3 {
    font-family: "Send Flowers";
    font-size: larger;
}

ul {
    list-style-type: none;
}

#map iframe {
    width: 100%;
    height: auto;
    border: solid 6px #242424;

}

footer {
    background: lightpink;
    height: 100px;
    padding: 1rem;
}

/* large view navigation ************************************/
@media (min-width: 37.5em) {

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: column;
        height: 200px;
	}

	.navigation a {
		display: flex;
        flex-direction: column;
	}
}


