body {
    align-items: center;
    font-size: 18px;
    font-family: Raleway, helvetica, sans-serif;
    text-align: center;
}

header {
    font-family: "Send Flowers";
    background: lightpink;
    height: 410px;
    padding-top: 20px;
    margin-bottom: 0;
    font-size: large;
}

.profile-pic {
    border-radius: 100%;
    border: solid 6px blanchedalmond;
    border-style: dashed;
    max-width: 150px;
}

nav {
    max-width: auto;
    margin-top: 1rem auto;
}

/* Hamburger List */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
    /* sets up position to the right */
	position: absolute;
	top: 25.35rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: white;
}

#menu.open::before {
	content: "🎨";
    /* color hex is #FFB6C1 */
} 

/* Navigation Styling */
.nav a:link, .nav a:visited {
    font-family: var(--heading-font);
    color: white;
}

.list a:link, .list a:visited {
    color: black;
}

.nav a:hover {
    color: lightpink;
}

.nav a:hover::before {
    content: "🐛";
    text-align: left;
    
}

.navigation {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: space-around;
    list-style: none;
    font-size: 25px;
    /* changed height to auto for hamburger menu */
    height: auto;
    background: #242424;
    margin-top: -30px;
    padding: 1rem;
    border-style: groove;
    border-color:blanchedalmond;
}

.navigation a {
    display: none;
}

.open a {
	display: block;

}

footer {
    background: lightpink;
    height: auto;
    padding: 1rem;
}

/*Form Styling*/
.myform fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.myform legend {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 8px;
    background-color: lightpink;
}

.myform label {
    display: block;
    padding-top: 2rem;
    font-size: .9rem;
    text-align: left;
}

.myform input[type="text"],
.myform input[type="password"],
.myform input[type="email"]
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}


#r {
	width: 280px;
}

#rangevalue {
	font-size: 2rem;
	color: white;
    background-color: lightpink;
    padding: 0.5rem;
    border-radius: 8px;
    justify-self: center;
}

#rangevalues {
	display: flex;
    margin: 25px 25px 25px 120px;
    justify-content: center;
	width: 200px;
    font-size: 30px;
}

#rangevalues option {
	flex: 1 1 auto;
}

.myform button[type="submit"] 
{
    border: none;
    background-color: lightpink;
    font-size: 20px;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 5rem 2% 2rem 2%;
    box-shadow: 1px 1px 7px #999;
}

.myform button:hover
{
    background-color: rgb(255, 114, 171);
}

.myform input:required {
    border-right: solid 8px red;
}

.myform input:required:valid {
    border-right: solid 8px green;
}


/* Record.html Styling */
main {
    padding: 50px;
}

p {
    padding: 20px;
}

.thanks {
    background-color: lightpink;
    border-radius: 8px;
    justify-self: center;
}

#formmessage {
	visibility: none;
	margin: 10px;
	padding: 0.5rem;
	color: red;
}






/* large view navigation ************************************/
@media (min-width: 37.5em) {

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
        height: 30px;
	}

	.navigation a {
		display: flex;
        flex-direction: column;
	}

    .nav a:hover::before {
        content: ""; 
    }

}